<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="../axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../moment/min/moment.min.js"></script>
<script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../numeral/numeral.js"></script>
<script type="text/javascript" src="../lodash/lodash.min.js"></script>

<script src="jquery-confirm-3.3.4/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="jquery-confirm-3.3.4/jquery-confirm.min.css">

<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>

<link rel="stylesheet" href="../transfer/transfer.css">
<script type="text/javascript" src="../transfer/transfer.js"></script>

<link rel="stylesheet" href="../css/common-style.css">
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/common-map.css">
<link rel="stylesheet" href="../css/common-bootstrap.css">

<script type="module" src="../scripts/common-script.js"></script>

<script type="text/javascript" src="/purify.min.js"></script>
